<div class="container">
  <div class="leftsection"  routerLink="home">
    <div class="logoText leftText">
      B.A.
    </div>
    <div>
      <img class="logo" src="../../assets/logo/logo.png" alt="">
    </div>
    <div class="logoText">nives</div>
  </div>
  <div class="search">
    <form method="get" class ="example" action="http://localhost:4200/">
    <input type="text" placeholder="Search.." name = "search" class="input-text ui-autocomplete-input example">
    <span class="button-search fa fa-search"></span>
    </form>
  </div>
  <div class="rightsection">
    <div class="cartbutton" routerLink="/cart" routerLinkActive="active">View Cart</div>
  </div>
</div>

