

.container {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  background: #415A77;
  height: 100px;
}

.leftsection {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 30%;
  float: left;
}

.leftsection:hover {
  cursor: pointer;
}

.rightsection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
}


.logo {
  height: 80px;
  margin: 10px 0 10px 0 ;
}

.logoText {
  font-size: 70px;
  font-family: Impact;
}

.leftText {
  margin-left: 30px;
}

.search {
  display: flex;
  align-items: center;
  align-content: center;
  width: 40%;
  height: 100%;
  /*margin-left: 10%;*/
}

.example {
  padding: 10px;
  font-size: 17px;
  width: 100% !important;
}

.cartbutton {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: #0D1B2A;
  height: 50px;
  width: 120px;
  color: #E0E1DD;
  font-weight: bold;
  font-family: arial;
}

.cartbutton:hover {
  font-size: 17px;
  border-bottom: 3px  solid  #E0E1DD;
  cursor: pointer;
  /*border-top: 3px  solid  #E0E1DD;*/
  /*border-right: 3px  solid  #E0E1DD;*/
  /*border-left: 3px  solid  #E0E1DD;*/

}
