<nav class="container">
<ul>
  <li>Free Ground Shipping on Orders over $99</li>

</ul>
  <ul>
    <li>Questions? Call Toll Free 279.527.6425</li>
  </ul>
  <ul>

    <li><a ></a></li>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/myAccount">My Account</a></li>
    <li><a onclick="document.getElementById('id01').style.display='block'">Sign In</a></li>
  </ul>


</nav>


<!-- Button to open the modal login form -->


<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">

    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn"><i class="fa fa-close">X</i></button>

    <div class="imgcontainer">
        <div class="logoText leftText">
          B.A.
          <img class="logo" src="../../assets/logo/logo.png" alt="">
          nives
        </div>


      <div>
      <label for="username"><b>Username</b></label>&nbsp;
      <input id="username" type="text" placeholder="Enter Username" [ngModel]=username name="username" required>
      </div>
      <div>
      <label for="password"><b>Password</b></label>&nbsp;
      <input id="password" type="password" placeholder="Enter Password" [ngModel]=password name="password" required>
      </div>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>

      <div>
      <button (click)="login()">Login</button>

      </div>
      <span>Forgot <a href="#">password?</a></span>

    <div>
      <button class="createbtn" onclick="document.getElementById('id01').style.display='none'"
              routerLink="createAccount" routerLinkActive="active">Create Account
      </button>
    </div>
    </div>
  </form >
</div>
