<div class="pad">
  <form [formGroup]="newCustomer">
    <table>
      <tr>
        <td>
          <label for="name">Name(Last, First):</label>
        </td>
        <td>
          <textarea class = "name" formControlName="name" type="text" id="name" name="name"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <label for="address">Enter address:</label>
        </td>
        <td>
          <input class="address" formControlName="address" id="address">
        </td>
      </tr>
      <tr>
        <td>
          <label for="zipcode">zipcode:</label>
        </td>
        <td>
          <input class="zipcode" formControlName="zipcode" id="zipcode">
        </td>
      </tr>
      <tr>
        <td>
          <label for="email">email:</label>
        </td>
        <td>
          <input class="email" formControlName="email" id="email">
        </td>
      </tr>
      <tr>
        <td>
          <label for="phone">phone:</label>
        </td>
        <td>
          <input class="phone" formControlName="phone" id="phone">
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">password:</label>
        </td>
        <td>
          <input class="password" formControlName="password" id="password">
        </td>
      </tr>
    </table><br>
    <br>
    <button type="submit" (click)="createCustomer()">Create New Account</button>
  </form>
</div>
