.categoryBar {
  height: 40px;
  background-color: #778DA9;

  /*border-bottom: 2px black solid;*/
  width: 100%;
}

.categories {
  float: left;
  color: #E0E1DD;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: arial;
}

.home {
  color: #1B263B;
}

.categories:hover {
  border-bottom:  solid #415A77;
  font-weight: bolder;
  color: #1B263B;
  cursor: pointer;
}
