<div class="categoryBar" >
  <span class="categories home" routerLink="/home" routerLinkActive="active">Home</span>
  <span class="categories" *ngFor="let category of categories;" (click)="clickCategory(category.id)">{{category.name}}</span>
</div>
