<!--<app-catergorybar></app-catergorybar>-->
<!--<div *ngFor="let product of products">-->
  <!--<div class="itemContainer">-->
    <!--{{product.name}}-->
    <!--<img class="productPicture" src="{{product.picture}}"/>-->
    <!--{{product.description}}-->
  <!--</div>-->
<!--</div>-->
<app-catergorybar></app-catergorybar>
<div class="matGridContainer" *ngFor="let product of products">
  <mat-grid-list cols="16" rowHeight="4:1">
    <mat-grid-tile colspan="2" rowspan="15"></mat-grid-tile>
    <mat-grid-tile class="itemImage" colspan="5" rowspan="15"> <img class="productImage" src="{{product.picture}}" /></mat-grid-tile>
    <mat-grid-tile class="itemSpacer" colspan="1" rowspan="15"></mat-grid-tile>
    <mat-grid-tile class="itemName" colspan="7" rowspan="2">{{product.name}}</mat-grid-tile>
    <mat-grid-tile class="itemPrice" colspan="7" rowspan="2">${{product.price}}</mat-grid-tile>
    <mat-grid-tile class="itemButton" colspan="7" rowspan="2"><button mat-raised-button color="primary">Primary</button></mat-grid-tile>
    <mat-grid-tile class="itemDescription" colspan="7" rowspan="9">{{product.description}}</mat-grid-tile>
  </mat-grid-list>
</div>

