<app-catergorybar></app-catergorybar>

<mat-grid-list class="gridContainer" cols="16" rowHeight="2:1">
  <mat-grid-tile colspan="2" rowspan="26"></mat-grid-tile>
  <mat-grid-tile colspan="12" rowspan="13">
    <img src="../../assets/HomePageBannerKnives/C-Vallotton-EPM-2.jpg" alt="">
  </mat-grid-tile>
  <mat-grid-tile class="textManufacturersContainer" colspan="12" rowspan="2">
    <span class="textManufacturers" >Featured Products</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="12" rowspan="5">
    <div class="top5Products" *ngFor="let product of random5Products">
      <div class="productText">{{product.name}}</div>
      <div>
       <img alt="" class="productImage" src="{{product.picture}}" (click)="clickProduct(product.id)"><br>
      </div>
      <div class="learnMore">Learn More</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="textManufacturersContainer" colspan="12" rowspan="2">
    <span class="textManufacturers" >Manufacturers</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="12" rowspan="4">
    <div class="imgContainer">
      <img class="logoImage" *ngFor="let manufacturer of manufacturers" src="{{manufacturer.picture}}" (click)="clickManufacturer(manufacturer.id)">
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="26"></mat-grid-tile>
</mat-grid-list>


