.imgContainer {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.logoImage {
  width: 19%;
  padding: .5%;
}

.logoImage {
  cursor: pointer;
}

.top5Products {
  /*display: flex;*/
  /*align-items: center;*/
  /*align-content: center;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.top5Products:hover {
  cursor: pointer;
}

.productImage {
  width: 19%;
  padding: .5%;
}

.productImage {
  cursor: pointer;
}

.gridContainer {
  margin-top: 15px;
  padding: 0 !important;
  height: 1350px !important;
}

.textManufacturers {
  font-family: arial;
  font-size: 4vh;
  position: absolute;
  left: 5px;
}

.textManufacturersContainer {
  text-align: left;
}

.productImage {
  width: 100%;
}

.productText {
  font-family: arial;
  font-size: 20px;
  text-align: center;
}

.learnMore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: arial;
  font-size: 20px;
  background-color: #415A77;
  color: #E0E1DD;
  height: 50px;
  width: 80%;
  position: relative;
}

.learnMore:hover {
  font-size: 22px;
}
