table{
  display: table;
  margin-left:auto;
  margin-right:auto;
margin-top: 20px;
  font-size: 30px;

  border: 1px solid black;
}
th{
padding-left: 1em;
  text-align: left;
}
tr{

}
span{
  font-size: 2em;
  height: 1.5em;
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: #E0E1DD;
}
.space{
  padding-top: 10px;
}
button {
  display: block;
  margin: auto;
  border-radius: 15px;
  justify-content: center;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 0 black;
  height:2em;
  width:12em;
  color: black;
  background-image: linear-gradient(#778DA9,#E0E1DD,#E0E1DD,#778DA9);
}

